@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;400;700&family=Fira+Sans&family=Montserrat&family=Poppins:wght@700&family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;400;700&family=Fira+Sans&family=Montserrat&family=Poppins:ital,wght@0,700;1,400&family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;400;700&family=Fira+Sans&family=Montserrat&family=Poppins:ital,wght@0,700;1,400;1,800&family=Roboto+Mono:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: hsl(0, 0%, 94%);
}

.container {
    width: 40rem;
    height: 88vh;
    background-color: hsl(0, 0%, 100%);
    border-radius: 19px;
    border-bottom-right-radius: 140px;
}

.content {
    max-width: 80%;
    margin: 50px auto;
}

.inputs {
    display: flex;
    flex-direction: row;
    padding: 30px 100px;
}

.data {
    padding-left: 2.5rem;
}

label {
    color: hsl(0, 1%, 44%);
    font-weight: 100;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

input[type="text"] {
    padding-left: 12px;
    width: 75%;
    display: block;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 7px;
    font-size: 2rem;
    color: hsl(0, 0%, 8%);
    outline-color: hsl(0, 0%, 86%);
    margin-top: 2px;
}

::placeholder {
    color: hsl(0, 1%, 44%);
}

hr {
    width: 70%;
    padding: 0px 120px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    height: 1px;
    color: hsl(0, 0%, 94%);
    width: 80%;
}

input[type="submit"] {
    width: 4.5rem;
    height: 4.5rem;
    background-color: hsl(259, 100%, 65%);
    background-image: url("assets/images/icon-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    display: inline;
}

input[type="submit"]:hover {
    background-color: black;
}

.txt {
    font-size: .7rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-top: 2px;
}

.empty-text{
    font-size: .7rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-top: 2px;
}

.result {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.hypen {
    color: hsl(259, 100%, 65%);
    font-weight: bolder;
}

.text {
    font-family: 'Poppins', sans-serif;
    font-size: 4.5rem;
    font-weight: 800;
    font-style: italic;
    color: hsl(0, 0%, 8%);
}
